*{
    margin:0px;
    padding:0px;
    text-align:center
}
h1{
    background-color: rgb(4, 4, 30);
    color:white;
    height:65px;
    line-height:65px;
}
.choice{
    height: 170px;
    width: 170px;
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 160px;
    width: 160px;
    object-fit:cover;
    border-radius:50%;
}
.choices{
display: flex;
justify-content: center;
align-items: center;
gap:3rem;
margin-top:5rem;
}
.choice:hover{
    cursor: pointer;
    background-color: rgb(6, 6, 41);
}

.score-board{
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-top: 3rem;
    font-size: 3rem;
}
#user-score,
#comp-score{
    font-size:5rem;
}
#msg{
    background-color: rgb(7, 7, 32);
    color: white;
    display:inline;
    font-size: 2rem;
    border-radius: 15px;
    padding: 1rem;
}
.msg-container{
    margin-top: 5rem;
}













